[submodule "cmake/version"]
	path = cmake/version
	url = https://github.com/Xaymar/cmake-version
[submodule "cmake/clang"]
	path = cmake/clang
	url = https://github.com/Xaymar/cmake-clang
[submodule "third-party/zlib-ng"]
	path = third-party/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json
[submodule "third-party/nlohmann-json"]
	path = third-party/nlohmann-json
	url = https://github.com/nlohmann/json
