[submodule "cmake/version"]
	path = cmake/version
	url = https://github.com/Xaymar/cmake-version
[submodule "cmake/clang"]
	path = cmake/clang
	url = https://github.com/Xaymar/cmake-clang
[submodule "third-party/zlib-ng"]
	path = third-party/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng
